body {
    margin: 0;
    background-color: #6E6E6E;
}

div {
    display: inline-block;
}

.engineerChoice {
    background-color: #819FF7;
    text-align: center;
    padding: 30px 10px 50px 10px;
}

.bold {
    font-weight: bold;
}

#premierElement {
    margin-top:  20%;
    margin-left: 15%;
}

@media (max-width: 575px) {
    #premierElement {
        margin-top: 5%;
        margin-left: 5%;
    }

    .engineerChoice{
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
  }
}

