<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>404</title>
		<link href="http://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
		<style type="text/css">
			body {
				font-family: 'Indie Flower', Calibri;
				font-size:22px;
				color: LightGrey;
				line-height : 1;
				letter-spacing : 0.05em;
				text-align: center;
				margin: 0px;
				padding: 0px;
				background-image: url(../static/img/board.png);
				background-repeat: no-repeat;
				background-position: center; 
				background-attachment: fixed;
			}
		</style>
	</head>
	<body>
		<div>
			<p style="font-size:60px;">404</p>
			<p>It looks like you find a</p>
			<p><img src="../static/img/deadend.png" style="width:150px;height:150px;" alt="Panneau sur lequel est inscrit DEAD END"></p>
		</div>
	</body>
</html>
