<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Indie+Flower">
    <link rel="stylesheet" href="../static/css/404.css"/>
</head>
<body>
<div>
    <p class="title">404</p>
    <p>It looks like you find a</p>
    <p><img src="../static/img/deadend.png" alt="Panneau sur lequel est inscrit DEAD END"></p>
    <p>or the coding team forgot something ...</p>
</div>
</body>
</html>
