<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>404</title>
    <link rel="stylesheet" href="../static/css/404_glitch.css">
</head>
<body>
<!--
  <div class="wrapper">
    <h1 class="glitch">404</h1>
  </div>
-->
    <div class="text middle" data-text="error 404 detected">
      error 404 detected
  </div>
</body>
</html>
