{% extends "homepage_affaire.html.jinja2" %}

{% block body %}
    <div class="p-3 mb-2 bg-dark text-white size-6 font-weight-bold text-center">
        <h4>Gestion des carrières</h4>
    </div>

    <div class="d-flex flex-inline">
        <div class="container">
            <nav class="navbar navbar-expand-sm bg navbar">
                <form class="form-inline" action="/TODO.php">
                    <div class="d-flex flex-inline">
                        <button type="button" class="btn btn-link" disabled>Q</button>
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </nav>
        </div>
    </div>
    <div class="container rounded border">
        {% block gridEngineer %}
        {% endblock %}
    </div>

{% endblock %}