{% extends "homepage_affaire.html" %}

{% block body %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
    <!-- Ce link puex causer ces soucis sur la bar de navigation à gauche de l'écran (onglet cote à cote) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <!-- Nav pills -->
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#TODO">&agrave; affecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#TODO">Affect&eacute;es</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#TODO">Closes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#TODO">Toutes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#TODO">Select all</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#TODO">
                            <img src="../static/img/trash.png"
                                 style="width:24px;height:24px;"
                                 alt="icone d&apos;une poubelle">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center text-muted" data-toggle="pill" href="#TODOTODO">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-plus-circle" alt="signe + entour&eacute; d&apos;un cercle ">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="12" y1="8" x2="12" y2="16"></line>
                                <line x1="8" y1="12" x2="16" y2="12"></line>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <nav class="navbar navbar-expand-sm bg navbar">
                    <form class="form-inline" action="/TODO.php">
                        <button type="button" class="btn btn-link" disabled>Q</button>
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="well">
                <p>Text</p>
            </div>
        </div>
    </div>
{% endblock %}