<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <!-- Mise à l'echelle pour les navigateurs mobiles -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CSS de Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<title>Acceuil</title>
		<meta name="author" content="Agathe Hainaut & Ophélie Laumonier & Théo Chassanite" />
		<link rel="stylesheet" href="../static/css/homepage.css" />
		<link rel="icon" type="image/png" href="../static/img/favicon.png" />
		<meta name="description" content="Page web crée dans l'UE SAR Flask de l'IMT Atlantique Campus Nantes." />
		<script>
			<!-- Script JS -->
		</script>
    </head>
    <body>
        <div class="menu_left">
            <p class="option_menu">mission</p>
            <p class="option_menu">carrière</p>
        </div>

    </body>
</html>