{% extends "homepage_affaire_carriere_vue.html.jinja2" %}

{% block gridMission %}
    <div class="d-flex flex-column">
    <form>
        {% for mission in listToShow %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox">
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="{{ mission.titre }}">
            </div>
        {% endfor %}
    </form>
    </div>
{% endblock %}