{% extends "homepage_etude_postuler_action.html.jinja2" %}

{% block competence %}
    <style>
        .custom-range {
            width: 300px;
            height: 10px;
        }
    </style>
    {% for competenceAndLvl in coupleCompetencesLvl %}
        <p><span>{{ competenceAndLvl[0].nom }} :</span>
            <!-- par la suite on peux mettre {{ competenceAndLvl[0].id }} a la place du name -->
            <input type="range" name="competence_{{ competenceAndLvl[0].id }}" id="{{ competenceAndLvl[0].id }}"
                   class="custom-range" min="0" max="100" step="1"
                   value="{{ competenceAndLvl[1] }}"/>
            <span id="valueOfRange{{ competenceAndLvl[0].id }}"></span><span>%</span>
            <script>
                var slider{{ competenceAndLvl[0].id }} = document.getElementById("{{ competenceAndLvl[0].id }}");
                var output{{ competenceAndLvl[0].id }} = document.getElementById("valueOfRange{{ competenceAndLvl[0].id }}");
                output{{ competenceAndLvl[0].id }}.innerHTML = slider{{ competenceAndLvl[0].id }}.value;
                slider{{ competenceAndLvl[0].id }}.oninput = function () {
                    output{{ competenceAndLvl[0].id }}.innerHTML = this.value;
                }
            </script>
        </p>
    {% endfor %}
{% endblock %}
