{% extends "homepage_affaire_mission.html.jinja2" %}

{% block gridMission %}
    <div class="d-flex flex-column">
        <form>
            {% for mission in listToShow %}
                <div class="input-group" style="background-color: #F2F2F2;border-radius:5px;margin-bottom: 2px ">
                    <div class="input-group-prepend" >
                        {#                        <div class="input-group-text">#}
                        {#                            <input type="checkbox">#}
                        {#                        </div>#}
                    </div>
                    <div class="col-sm-10" style="width:auto;border-width: 3px;border-color: #000;">
                        {{ mission.titre }}
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary"
                                onclick="location.href='/{{ id }}/affaire/missions/vue/{{ mission.id }}/';">Vue
                        </button>
                        <button type="button" class="btn btn-danger"
                                onclick="location.href='{{ url_for("delete_mission",id=id, missionId=mission.id) }}';">
                            <img src="/../static/img/trash.png"
                                 style="width:24px;height:24px;"
                                 alt="icone d&apos;une poubelle">
                        </button>
                    </div>
                </div>
            {% endfor %}
        </form>
    </div>
{% endblock %}
