{% extends "homepage_etude.html.jinja2" %}

{% block body %}
    <div class="p-1 mb-2 bg-dark text-white size-6 font-weight-bold text-center">
        <h4>Postuler &agrave; des missions</h4>
    </div>
    <div class="row">
        <div class="container">
            <!-- Nav pills -->
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="/TODO.php">
                        Disponibles
                        <span class="badge badge-secondary badge-pill">{{ listOfMissionsAvalable|length }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="/TODO.php">
                        Non disponibles
                        <span class="badge badge-secondary badge-pill">{{ listOfMissionsNotAvalable|length }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="/TODO.php">
                        Toutes
                        <span class="badge badge-secondary badge-pill">{{ listOfAllMissions|length }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-sm bg navbar">
                <form class="form-inline" action="/TODO.php">
                    <button type="button" class="btn btn-link" disabled>Q</button>
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </nav>
        </div>
    </div>
    <div class="container rounded border">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox">
                </div>
            </div>
            <input type="text" class="form-control" onclick="location.href='TODO/';"
                   placeholder="Mission1 Name #TODO">
        </div>
        {% block gridMission %}
        {% endblock %}
    </div>
{% endblock %}