{% extends "homepage_affaire.html.jinja2" %}

{% block body %}
    <div class="p-1 mb-2 bg-dark text-white size-6 font-weight-bold text-center">
        <h4>Gestion des carrières</h4>
    </div>

    <div class="row">
        <div class="container">
            <nav class="navbar navbar-expand-sm bg navbar">
                <form class="form-inline" action="/TODO.php">
                    <button type="button" class="btn btn-link" disabled>Q</button>
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </nav>
        </div>
    </div>
    <div class="container rounded border">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox">
                </div>
            </div>
            <input type="text" class="form-control"
                   onclick="location.href='/Name/affaire/carriere/name1';"
                   placeholder="Name LastName #TODO">
        </div>
        {% block gridEngineer %}
        {% endblock %}
    </div>

{% endblock %}