{% extends "homepage_etude.html.jinja2" %}

{% block body %}
    <div class="container rounded border">
        <h4>VISUALISER LA MISSION</h4>
    </div>

    <div class="container rounded border">
        <div class="row">
            <div class="mb-3">
                <button type="button" class="btn btn-info" onclick="location.href='#TODO';">&lt;&lt;</button>
            </div>
            <h4>MISSION</h4>
        </div>
    </div>

    <div class="col-md-8 order-md-1">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="Name">Nom de la mission :</label>
                <span>NOM TODO</span>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-success" onclick="location.href='#TODO';" >Postuler</button>
            </div>
        </div>

        <div class="mb-3">
            <label for="date">Date :</label>
            <span>DATE TODO</span>
        </div>

    <div class="mb-3">
            <label for="date">Description :</label>
            <span>DESCRIPTION TODO</span>
        </div>

    <div class="mb-3">
            <label for="date">Compétences :</label>
            <span>COMPETENCE TODO</span>
        </div>
    </div>
{% endblock %}