{% extends "homepage_affaire.html.jinja2" %}

{% block body %}
    <div class="p-3 mb-2 bg-dark text-white size-6 font-weight-bold">
        <div class="row">
            <div class="mb-3 ml-3">
                <button type="button" class="btn btn-outline-light"
                        onclick="location.href='/{{ id }}/affaire/missions/aAffecter/';">&lt;&lt;
                </button>
            </div>
            <div class="md-3 ml-3">
                <h4>Edition</h4>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="alert alert-danger" id="success-message" style="display:
                {% if error == "" %}
                    none
                {% else %}
                    block
                {% endif %};">
            <strong>
                {% if error == "" %}
                    Le formulaire a &eacute;t&eacute; envoy&eacute; avec succes
                {% else %}
                    {{ error }}
                {% endif %}!
            </strong>
        </div>
        <form action="{{ url_for("process_form_data", id=id, missionId=mission.id,is_new_mission=is_new_mission) }}"
              method="post"
              class="needs-validation" novalidate="">
            <div class="d-flex flex-inline">
                <div class="col mb-3 ml-1">
                    <div class="p-1 bg-info text-white size-6 font-weight-bold">
                        <label for="Name">Mission : </label>
                    </div>
                    <input type="text" class="form-control" id="Name" name="foo_titre" value='{{ mission.titre }}'>
                    <div class="invalid-feedback">
                        Valid name is required.
                    </div>
                </div>
                <div class="col-md-auto p-0">
                    <button type="button" class="btn btn-danger"
                            onclick="
                                    {% if is_new_mission %}
                                        location.href='{{ url_for("delete_mission",id=id, missionId=mission.id) }}';
                                    {% else %}
                                        location.href='/{{ id }}/affaire/missions/vue/{{ mission.id }}/';
                                    {% endif %}">
                        annuler
                    </button>
                    <input type="submit" class="btn btn-success" value="sauver"/>
                </div>
            </div>
            <div class="d-flex flex-inline mb-2">
                <div class="ml-1 col-md-10">
                    <div class="form-group">
                        <label for="date">Date de création :</label>
                        <input type='text' class="form-control" name="mission_date_creation"
                               value='{{ mission.date_creation }}'/>
                    </div>
                </div>
            </div>
            <div class="row ml-1">
                <div class="mb-3 col-md-7">
                    <div class="form-group">
                        <label for="description">Description :</label>
                        <textarea class="form-control" rows="5" name="mission_description"
                                  id="comment">{{ mission.description }}</textarea>
                    </div>
                </div>
            </div>
            <div class="row  ml-3">
                <div class="form-group">
                    <label for="nbPlace">Nombres de places :</label>
                    <input type="number" name="mission_effectif_max" value='{{ mission.effectifs_max }}'/>
                </div>
            </div>
            <div class="row  ml-3">
                <div class="form-group">
                    <label for="prixVente">Prix Vente :</label>
                    <input type="number" step="0.01" name="mission_prix_vente" value='{{ mission.prix_vente }}'/>
                </div>
            </div>
            <div class="row d-inline">
                <div class="p-1 bg-info text-white size-6 font-weight-bold  mb-2 ml-3">
                    <label for="competences">Comp&eacute;tences requises :</label>
                </div>
            </div>
            <div class="row ml-2">
                {% for competence in competences %}
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-primary ml-2 mb-2
                                {% if competence in competencesMission %}
                               active
                                {% endif %}">
                            <input type="checkbox" name="competence_{{ competence.id }}" value="{{ competence.nom }}"
                                   autocomplete="off"
                                    {% if competence in competencesMission %}
                                   checked
                                    {% endif %}> {{ competence.nom }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}