{% extends "homepage_etude_postuler_action.html.jinja2" %}

{% block competence %}
    <style>
        .custom-range {
            width: 300px;
            height: 10px;
        }
    </style>
    <!-- Fin du truc important -->
    }
    {% for competence in competences %}
        <form>
            <label>Comp&eacute;tence {{ competence.nom }} :</label>
            <!-- par la suite on peux mettre {{ competence.id }} a la place du name -->
            <input type="range" name="{{ competence.nom }}" class="custom-range" min="0" max="100" step="1"
                   value="100"
                   oninput="result{{ competence.nom }}.value=parseInt({{ competence.nom }}.value)"/>
            <output name="result{{ competence.nom }}">--</output><span>%</span>

        </form>
        <script type="text/javascript">
            $(function () {
                $('.range').next().text('--'); // Valeur par défaut
                $('.range').on('input', function () {
                    var $set = $(this).val();
                    $(this).next().text($set);
                });
            });
        </script>
    {% endfor %}
{% endblock %}
