{% extends "homepage_affaire.html.jinja2" %}

{% block body %}
    <div class="container rounded border">
        <div class="row">
            <div class="mb-3">
                <button type="button" class="btn btn-info" onclick="location.href='/{{ shortName }}/affaire/missions';" >&lt;&lt;</button>
            </div>
            <h4>EDITION</h4>
        </div>
    </div>
    <div class="col-md-8 order-md-1">
        <form class="needs-validation" novalidate="">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="Name">
                    <div class="invalid-feedback">
                        Valid name is required.
                    </div>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-danger" onclick="location.href='/{{ shortName }}/affaire/missions';" >annuler</button>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-success" onclick="location.href='#TODO';" >sauver</button>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group">
                    <label for="date">Date :</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
            <div class="row">
                <div class="mb-3 col-md-7">
                    <div class="form-group">
                        <label for="description">Description :</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="nbPlace">Nombres de places :</label>
                        <span>4</span>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="competences">Comp&eacute;tences requises :</label>
                <!-- TODO -->
            </div>
        </form>
    </div>
{% endblock %}