{% extends "homepage_affaire.html.jinja2" %}

{% block body %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <div class="p-1 mb-2 bg-dark text-white size-6 font-weight-bold text-center">
         <h4>Suivi des carrières</h4>
    </div>
    <div class="col-md-8 order-md-1">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="Name">Nom :</label>
                <span>NOM TODO</span>
            </div>
        <div class="col-md-6 mb-3">
                <label for="Name">Email :</label>
                <span>EMAIL TODO</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <!-- Nav pills -->
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#TODO">
                            En cours
                            <span class="badge badge-secondary badge-pill">6</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#TODO">
                            Terminées
                            <span class="badge badge-secondary badge-pill">5</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#TODO">
                            En attente
                            <span class="badge badge-secondary badge-pill">1</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#TODO">
                            Refusées
                            <span class="badge badge-secondary badge-pill">1</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <nav class="navbar navbar-expand-sm bg navbar">
                    <form class="form-inline" action="/TODO.php">
                        <button type="button" class="btn btn-link" disabled>Q</button>
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </nav>
            </div>
        </div>
    </div>
    <div class="container rounded border">
        {% block gridMission %}
        {% endblock %}
    </div>

{% endblock %}