{% extends "homepage_etude.html.jinja2" %}

{% block body %}
    <div class="p-3 mb-2 bg-dark text-white size-6 font-weight-bold">
        <div class="row">
            <div class="mb-0">
                <div class="mb-0 text-left">
            <button type="button" class="btn btn-outline-light" onclick="location.href='/{{ shortName }}/etude/postuler/disponibles/';">&lt;&lt;</button>
        </div>
            </div>
            <div class="md-3 text-center">
               <h4>POSTULER A UNE MISSION</h4>
            </div>
        </div>
    </div>

    <div class="col-md-12 order-md-1">
        <div class="row">
            <div class="col-md-6 mb-0">
                <div class="p-1 mb-0 bg-info text-white size-6">
                    <label for="name">Nom : </label>
                    <label>TODO</label>
                </div>
            </div>
            <button type="button" class="btn btn-success">
                    Postuler
{#                Faire le lien vers la page#}
                </button>
        </div>

        <div class="row">
            <div class="col-md-6 mb-0">
                <div class="p-1 mb-0 size-4">
                    <label for="date">Date : </label>
                    <label>TODO</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-0">
                <div class="p-1 mb-0 bg-info text-white size-6">
                    <label for="description">Description</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 order-md-1">
                <div class="form-group">
                    <label>TODO</label>
                </div>
            </div>
        </div>


    <div class="row">
            <div class="col-md-6 mb-0">
                <div class="p-1 mb-0 bg-info text-white size-6">
                    <label for="competences">Compétences requises</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 order-md-1">
                <div class="form-group">
                     <label>TODO</label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
