{% extends "homepage_affaire.html.jinja2" %}

{% block body %}
    <div class="p-3 mb-2 bg-dark text-white size-6 font-weight-bold">
        <div class="row">
            <div class="mb-3">
                <button type="button" class="btn btn-info"
                        onclick="location.href='/{{ id }}/affaire/missions/aAffecter/';">&lt;&lt;
                </button>
            </div>
            <div class="md-3 text-center">
                <h4>EDITION</h4>
            </div>
        </div>
    </div>
    <div class="col-md-8 order-md-1">
        <form action="{{ url_for("process_form_data", id=id, missionId=mission.id) }}" method="post"
              class="needs-validation" novalidate="">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="Name" name="foo_titre" value='{{ mission.titre }}'>
                    <div class="invalid-feedback">
                        Valid name is required.
                    </div>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-danger"
                            onclick="location.href='/{{ id }}/affaire/missions/vue/{{ mission.id }}/';">annuler
                    </button>
                </div>
                <div class="mb-3">
                    {#                    <button type="button" class="btn btn-success" onclick="location.href='/TODO.php';" >sauver</button>#}
                    <input type="submit" class="btn btn-success" onclick="location.href='/TODO.php';" value="sauver"/>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group">
                    <label for="date">Date :</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" name="mission_date_creation"
                               value='{{ mission.date_creation }}'/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
            <div class="row">
                <div class="mb-3 col-md-7">
                    <div class="form-group">
                        <label for="description">Description :</label>
                        <textarea class="form-control" rows="5" name="mission_description"
                                  id="comment">{{ mission.description }}</textarea>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="nbPlace">Nombres de places :</label>
                        <input type="number" name="mission_effectif_max" value='{{ mission.effectifs_max }}'/>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="competences">Comp&eacute;tences requises :</label>
                {% for competence in competences %}
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="checkbox" name="competences" value="{{ competence.nom }}"
                                   autocomplete="off"> {{ competence.nom }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}