{% extends "homepage_etude.html.jinja2" %}

{% block body %}
    <div class="p-1 mb-2 bg-dark text-white size-6 font-weight-bold text-center">
        <h4>Postuler &agrave; des missions</h4>
    </div>
    <div class="row">
        <div class="container">
            <!-- Nav pills -->
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="/{{ shortName }}/etude/postuler/disponibles/">
                        Disponibles
                        <span class="badge badge-secondary badge-pill">{{ listOfMissionsAvalableLength }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{ shortName }}/etude/postuler/enAttente/">
                        <!--data-toggle="pill"-->
                        En attente
                        <span class="badge badge-secondary badge-pill">{{ listOfMissionsWaitingLength }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{ shortName }}/etude/postuler/enCours/">
                        En cours
                        <span class="badge badge-secondary badge-pill">{{ listOfMissionsGoingOnLength }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/{{ shortName }}/etude/postuler/termine/">
                        Termine
                        <span class="badge badge-secondary badge-pill">{{ listOfMissionsClosedLength }}</span>
                    </a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="/TODO.php">
                        Toutes
                        <span class="badge badge-secondary badge-pill">{{ listOfAllMissionsLength }}</span>
                    </a>
                </li>
                -->
            </ul>
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-sm bg navbar">
                <form class="form-inline" action="/TODO.php">
                    <button type="button" class="btn btn-link" disabled>Q</button>
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </nav>
        </div>
    </div>
    <div class="container rounded border">
        {% block gridMission %}
        {% endblock %}
    </div>
{% endblock %}