{% extends "homepage_affaire_mission.html.jinja2" %}

{% block gridMission %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <form>
        {% for mission in missions %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox">
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="{{ mission.name }}">
                <div class="mb-3">
                    <button type="button" class="btn btn-danger" onclick="location.href='{{ url_for("edit_mission", mission="test") }}';" >Edit</button>
                </div>
            </div>
        {% endfor %}
    </form>
{% endblock %}
