{% extends "homepage_affaire.html.jinja2" %}

{% block body %}
    <div class="p-1 mb-2 bg-dark text-white size-6 font-weight-bold text-center">
        <h4>Gestion des missions</h4>
    </div>

    <div class="row">
        <div class="container">
            <!-- Nav pills -->
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="/TODO.php">
                        &Agrave; affecter
                        <span class="badge badge-secondary badge-pill">{{ listOfMissionsToAssign|length }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="/TODO.php">
                        Affect&eacute;es
                        <span class="badge badge-secondary badge-pill">{{ listOfMissionsAssigned|length }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="/TODO.php">
                        Closes
                        <span class="badge badge-secondary badge-pill">{{ listOfMissionsClosed|length }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="/TODO.php">
                        Toutes
                        <span class="badge badge-secondary badge-pill">{{ listOfAllMissions|length }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="/TODO.php">Select all</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="/TODO.php">
                        <img src="../static/img/trash.png"
                             style="width:24px;height:24px;"
                             alt="icone d&apos;une poubelle">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center text-muted" data-toggle="pill" href="/TODO.php">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-plus-circle" alt="signe + entour&eacute; d&apos;un cercle ">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="8" x2="12" y2="16"></line>
                            <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-sm bg navbar">
                <form class="form-inline" action="/TODO.php">
                    <button type="button" class="btn btn-link" disabled>Q</button>
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </nav>
        </div>
    </div>
    <div class="container rounded border">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox">
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Mission Name"
                   onclick="location.href='/{{ shortName }}/affaire/missions/mission1';">
        </div>
        {% block gridMission %}
        {% endblock %}
    </div>
{% endblock %}