{% extends "homepage_affaire_carriere.html.jinja2" %}

{% block gridEngineer %}
    <form>
        {% for engineer in engineers %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox">
                    </div>
                </div>
                <input type="text" class="form-control" onclick="location.href='{{ url_for("carriere_vue", name="test") }}';" placeholder="{{ engineer.firstName }} {{ engineer.lastName }}">
            </div>
        {% endfor %}
    </form>
{% endblock %}
