{% extends "homepage_affaire.html.jinja2" %}

{% block body %}
    <div class="p-3 mb-2 bg-dark text-white size-6 font-weight-bold text-center">
         <h4>Suivi des carri&egrave;res</h4>
    </div>

    <div class="d-flex flex-column">
        <div class="d-flex flex-inline">
            <div class="col-md-12 mb-3 p-1 bg-info text-white size-6 font-weight-bold ">
                <label for="Name">Nom :</label>
                <span>{{ engineerObserveFirstName }} {{ engineerObserveLastName }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="Name">Email :</label>
                <span>{{ engineerObserveEmail }}</span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <!-- Nav pills -->
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link {% if etat == "enCours" %}active{% endif %}" href="/{{ id }}/affaire/carrieres/{{ idCarriere }}/enCours/">
                            En cours
                            <span class="badge badge-secondary badge-pill">{{ listOfMissionsOnGoingLength }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if etat == "enAttente" %}active{% endif %}" href="/{{ id }}/affaire/carrieres/{{ idCarriere }}/enAttente/">
                            En attente
                            <span class="badge badge-secondary badge-pill">{{ listOfMissionsWaitingLength }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if etat == "termine" %}active{% endif %}" href="/{{ id }}/affaire/carrieres/{{ idCarriere }}/termine/"><!--data-toggle="pill"-->
                            Termin&eacute;es
                            <span class="badge badge-secondary badge-pill">{{ listOfMissionsClosedLength }}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container-fluid">
                <nav class="navbar navbar-expand-sm bg navbar">
                    <form class="form-inline" action="/TODO.php">
                        <button type="button" class="btn btn-link" disabled>Q</button>
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </nav>
            </div>
        </div>
    </div>
    <div class="container rounded border">
        {% block gridMission %}
        {% endblock %}
    </div>

{% endblock %}