{% extends "homepage_affaire_carriere.html.jinja2" %}

{% block gridEngineer %}
    <form>
        {% for engineer in listOfEngineer %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox">
                    </div>
                </div>
                <input type="text" class="form-control" onclick="location.href='{{ engineer.id }}/enCours/';"
                       placeholder="{{ engineer.prenom }} {{ engineer.nom_famille }}">
            </div>
        {% endfor %}
    </form>
{% endblock %}
