{% extends "homepage_etude_postuler.html.jinja2" %}

{% block gridMission %}
    <form>
        {% for mission in listToShow %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox">
                    </div>
                </div>
                <input type="text" class="form-control" onclick="location.href='/{{ id }}/etude/postuler/{{ etat }}/vue/{{ mission.id }}/';" placeholder="{{ mission.titre }}">
            </div>
        {% endfor %}
    </form>
{% endblock %}
