body {
    margin: 0;
    background-color: #6E6E6E;

}

div {
    display: inline-block;
}

.engineerChoice {
    /*width: calc(25% - 20px);*/
    /*border: 1px solid black;*/
    background-color: #819FF7;
    text-align: center;
    padding: 30px 10px 50px 10px;

}

#premierElement {
    margin-top:  200px;
    margin-left: 400px;
}

@media (max-width: 1200px) {
    #premierElement {
        margin-top: 0px;
        margin-left: 0px;
  }
}

@media (max-width: 600px) {
    #premierElement {
        margin-top: 0px;
        margin-left: 0px;
  }
}

