<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Acceuil</title>
    <meta charset="UTF-8">
    <meta name="author" content="Agathe Hainaut & Ophélie Laumonier & Théo Chassanite"/>
    <meta name="description" content="Page d'acceuil et Index des pages web crées dans l'UE SAR Flask de l'IMT Atlantique Campus Nantes."/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../static/img/favicon.png"/>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="engineerChoice col-sm-4 col-11 rounded" id="premierElement">
    <h2>Je suis ing&eacute;nieur <span class="bold">d&apos;affaire</span></h2>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-light" data-toggle="dropdown">
        Identifiant
    </button>
    <div class="dropdown-menu">
        {% for shortName in listOfShortName %}
            <a class="dropdown-item" href="/{{ shortName }}/affaire/missions/">{{ shortName }}</a>
        {% endfor %}
    </div>
</div>
<div class="engineerChoice col-sm-4 col-11 rounded">
    <h2>Je suis ing&eacute;nieur <span class="bold">d&apos;&eacute;tude</span></h2>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-light" data-toggle="dropdown">
        Identifiant
    </button>
    <div class="dropdown-menu">
        {% for shortName in listOfShortName %}
            <a class="dropdown-item" href="/{{ shortName }}/etude/postuler/">{{ shortName }}</a>
        {% endfor %}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>