<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Mise à l'echelle pour les navigateurs mobiles -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CSS de Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<title>Acceuil</title>
		<meta name="author" content="Agathe Hainaut & Ophélie Laumonier & Théo Chassanite" />
		<link rel="stylesheet" href="../static/css/index.css" />
		<link rel="icon" type="image/png" href="../static/img/favicon.png" />
		<meta name="description" content="Page d'acceuil et Index des pages web crées dans l'UE SAR Flask de l'IMT Atlantique Campus Nantes." />
		<script>
			<!-- Script JS -->


			function change_menu(type_engineer){
				var curseur = document.getElementById("menuD");
				var location = curseur.options[curseur.selectedIndex].index;
				// On envoie le "type_engineer" et l'index de sélection du menu à l'api et elle nous renvoie le fichier à load
                // Quelques test :
                // window.location.href="http://"
				// document.getElementById("change").src = tablName[location];

			}

		</script>
    </head>
    <body>
        <div class="engineerChoice col-xl-3 col-sm-3 col-11 rounded" id="premierElement">
            <h2>Je suis ingénieur <span class="bold">d'affaire</span></h2>
            <select id="menuD" onchange="change_menu('affaire');">
				<option>Option 1</option>
				<option selected>Option 2</option>
				<option>Option 3</option>
				<option>Option 4</option>
				<!-- A changer avec l'api -->
			</select>
        </div>
        <div class="engineerChoice col-xl-3 col-sm-3 col-11 rounded">
            <h2>Je suis ingénieur <span class="bold">d'étude</span></h2>
            <select id="menuD" onchange="change_menu('etude');">
				<option>Option 1</option>
				<option>Option 2</option>
				<option>Option 3</option>
				<option selected>Option 4</option>
				<!-- changer Option avec l'api -->
			</select>
        </div>

        <!-- Fichiers Javascript nécessaires pour certains composants Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>