<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <!-- Mise à l'echelle pour les navigateurs mobiles -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CSS de Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>Acceuil</title>
		<meta name="author" content="Agathe Hainaut & Ophélie Laumonier & Théo Chassanite" />
		<link rel="stylesheet" href="../static/css/index.css" />
		<link rel="icon" type="image/png" href="../static/img/favicon.png" />
		<meta name="description" content="Page d'acceuil et Index des pages web crées dans l'UE SAR Flask de l'IMT Atlantique Campus Nantes." />
		<script>
			<!-- Script JS -->
		</script>
    </head>
    <body>
        <div class="engineerChoice col-sm-4 col-11 rounded" id="premierElement">
            <h2>Je suis ing&eacute;nieur <span class="bold">d&apos;affaire</span></h2>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-light" data-toggle="dropdown">
                Dropdown button
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#TODO">Link 1</a>
                <a class="dropdown-item" href="#TODO">Link 2</a>
                <a class="dropdown-item" href="#TODO">Link 3</a>
    	    </div>
        </div>
        <div class="engineerChoice col-sm-4 col-11 rounded">
            <h2>Je suis ing&eacute;nieur <span class="bold">d&apos;&eacute;tude</span></h2>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-light" data-toggle="dropdown">
                Dropdown button
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#TODO">Link 1</a>
                <a class="dropdown-item" href="#TODO">Link 2</a>
                <a class="dropdown-item" href="#TODO">Link 3</a>
    	    </div>
        </div>

        <!-- Fichiers Javascript nécessaires pour certains composants Bootstrap -->
        <!--
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </body>
</html>